 :root{
  --columnCount: 16;
 }
 
 #container {
  display:flex;
  justify-content: center;
}
#gridContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(var(--columnCount), 1fr);
    background-color: rgb(221, 24, 24);
    width: 320px;
    height: 320px;
    padding: 50px;	
    border: 2px solid black;
    border-radius: 50px;
    grid-auto-rows: auto;
  }
  .cells {
    background-color: #EEE;
    border: .5px solid gray;
  
  }