 * {
  font-family: 'Helvetica', Arial, Helvetica, sans-serif;
  color: #EEE;
 }
 :root{
  --columnCount: 16;
  --cellColor: #EEE;
 }
 
 #container {
  display:flex;
  justify-content: center;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  margin: 5%;
}
#gridContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(var(--columnCount), 1fr);
    background-color: rgb(221, 24, 24);
    width: 320px;
    height: 320px;
    padding: 50px;	
    border: 2px solid black;
    border-radius: 50px;
  
  }
  .cells {
    background-color: #EEE;
    border: .1px solid lightgrey;
  
  }

  body {
    background-color: darkslategray;
  }

  .red {
    background-color: red;
    border: .1px solid lightgrey;
  }
  .blue {
    background-color: blue;
    border: .1px solid lightgrey;
  }

  button{
    color:black;
  }

  #banner {
    display: flex;
    justify-content: center;
  }

  /*test*/