 #container {
  display:flex;
  justify-content: center;
}
#gridContainer {
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    background-color: rgb(221, 24, 24);
    padding: 50px;	
    border-radius: 50px;;
  }
  .cells {
    background-color: #EEE;
    border: .5px solid gray;
    height: 15px;
    width: 15px;
  }